.animation_hover {
    animation: hoverAnimation 3000ms ease-in-out infinite;
}

@keyframes hoverAnimation {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0)
    }
}