* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
*:focus{
    outline: 3px solid var(--text-color);
}
*::selection {
    background-color: var(--CTA-color-alt);
}
.hidden {
    display: none;
}
.darken {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: -2;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
ul, p {
    margin: 0;
}
a:hover{
    text-decoration: none;
    color: var(--text-color);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    overflow-x: hidden;
}

:root,
    :root.default {
        --bg-color: #f6f6f6;
        --bg-color-alt: #edf0f5;
        --text-color: #000000;
        --text-color-light: #ffffff;
        --CTA-color: #31D600;
        --CTA-color-alt: #79d35d;
        --outline-color: rgba(255, 255, 255, 0.3);
        --box-shadow-color: rgba(0, 0, 0, 0.6); 
        --header-height-mobile: 60px;
        --header-height-tablet: 80px;
        --header-height-laptop: 100px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100dvw;
    height: var(--header-height-mobile);
    background-color: var(--bg-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px 1em;
    z-index: 10;
}
header i {
    font-size: 30px;
}
.mainNavigation {
    width: 100dvw;
    position: absolute;
    top: var(--header-height-mobile);
    left: 0;
    font-size: 20px;
    background-color: var(--bg-color-alt);
    box-shadow: 0 0 30px var(--box-shadow-color);
}
.navigationList {
    padding: .4em 0;
}
.navigationList li {
    text-align: center;
}
.navigationList li>a {
    padding: .8em 0;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.sectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1em 3em 1em;
}
.sectionHeading {
    font-size: 30px;
}
.mainSection {
    position: relative;
    width: 100dvw;
    height: 95dvh;
    min-height: 650px;
    justify-content: center;
    padding: 1em 1.5em 0 1.5em;
    z-index: 1;
}
#landingPage {
    background-image: url('../media/bck_cpr.webp');
    background-size: cover;
    background-position: center;
    color: var(--text-color-light);
}

.logo_small {
    margin: 0 0 2em 0;
}

h1 {
    font-size: 32px;
    text-align: center;
    margin: 0 0 .3em 0;
}
.moreSpace_block {
    margin-block: .7em;
}
#landingPage h1 {
    width: min-content;
}
.headerTagLine {
    font-size: 30px;
    text-align: center;
    margin: 0 0 .2em 0;
}
.mainSection > p {
    width: 90%;
    max-width: 400px;
    font-size: 18px;
    margin-block: 1em;
    text-align: center;
}
#arrowDown {
    position: absolute;
    bottom: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-light);
    font-size: 40px;
}
#arrowDown:focus {
    outline: 3px solid var(--CTA-color);
}

.heroImage {
    width: 100dvw;
    height: 25dvh;
    min-height: 175px;
    background-image: url('../media/bck_cpr.webp');
    background-size: cover;
    background-position: center;
    filter:brightness(0.5);
    margin-block: var(--header-height-mobile) 0;
}
.ctaBtn {
    background-color: var(--CTA-color);
    font-size: 24px;
    border-radius: 50px;
    padding: .6em 1em;
    transition: 250ms ease-in-out;
    margin-block: 2em;
}
.ctaBtn:hover, .ctaBtn:focus {
    outline: 3px solid var(--CTA-color);
    color: var(--CTA-color);
    background-color: transparent;
}
.readMore {
    width: 300px;
    outline: 2px solid var(--CTA-color);
    background-color: transparent;
    font-size: 18px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    transition: 400ms ease-in-out;
    padding: .6em 1em;
}
.readMore:active,.readMore:focus,.readMore:hover {
    background-color: var(--CTA-color);
}

#courseCatalog {
    padding: 5em 1em;
}
.courseCategories {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 100%;
    margin: 3em 0 2em 0;
}
.courseResume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    height: auto;
    min-height: 20em;
    border-radius: 15px;
    background-color: var(--bg-color-alt);
    box-shadow: 0 0 5px var(--box-shadow-color);
    padding: 2em 0;
}
.courseList li {
    text-align: left;
    margin: 0 0 .5em 0;
    list-style-type:square;
}
.titleElements {
    text-align: center;
}
.titleElements i {
    font-size: 35px;
    margin: 0 0 .1em 0;
}

.formWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 2em 0 0 0;
}
.formWrapper>* {
    width: 100%;
    max-width: 500px;
}
.contactInfo {
    font-size: 18px;
    margin: 0 0 1em 0;
}
.formWrapper form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.formWrapper form textarea {
    resize: none;
}
.formWrapper form input, .formWrapper form textarea {
    font-size: 18px;
    padding: 2px;
}
.formWrapper form input[type=submit] {
    border: none;
    width: fit-content;
    padding: .4em 2em;
}

.allCourseList {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-block: 2em 0;
}
.courseWrapper {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 0 5px var(--box-shadow-color);
}
.courseDetails, .courseTeachings {
    min-height: 250px;
}
.courseDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
    padding: 1em 2em;
}
    .courseTitle {
        width: min-content;
        font-size: 28px;
    }
    .bookBtn {
        max-width: 200px;
        margin-block: 1em !important;
    }
.courseTeachings {
    background-color: var(--bg-color-alt);
    padding: 1em 2em;
    z-index: -1;
}
.courseTeachings li {
    list-style-type: square;
    margin-block: 5px;
}

.loginForm {
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.loginForm input {
    font-size: 18px;
    padding-inline: 5px;
    margin-block: 0 .5em;
}
.loginForm label {
    font-size: 20px;
    margin-block: .5em 0;
}
.loginForm button[type="submit"] {
    width: fit-content;
    font-size: 20px;
    border: none;
    padding: .2em 1em;
    margin-block: 1em 0;
}
#createUserSection, #loginSection {
    height: 85dvh;
}

footer {
    display: flex;
    justify-content: space-evenly;
    width: 100dvw;
    background-color: var(--bg-color-alt);
    padding: 2em 0;
}
.footerSection {
    display: flex;
    flex-direction: column;
    gap: .4em;
}
.logInBtn {
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: var(--CTA-color);
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: 100ms ease-in-out;
    padding: .5em 1em;
}
.logInBtn:hover{
    outline: 3px solid var(--text-color);
}


/* --------------------- iPad Version -----------------------*/ 
@media screen and (width >= 725px) {
    header {
        height: var(--header-height-tablet);
        padding: 10px 2em 2px 2em;
    }
    header i {
        font-size: 50px;
    }
    .mainNavigation {
        top: var(--header-height-tablet);
        font-size: 30px;
    }
    .mainSection {
        padding: var(--header-height-tablet) 1.5em 0 1.5em;
    }
    .mainSection > p {
        font-size: 20px;
    }
    h1 {
        font-size: 60px;
    }
    #arrowDown {
        width: 80px;
        height: 80px;
        font-size: 50px;
    }
    .heroImage {
        margin-block: var(--header-height-tablet) 0;
    }
    .sectionHeading {
        font-size: 50px;
    }
    .sectionSubHeading {
        font-size: 20px;
    }
    .ctaBtn {
        font-size: 30px;
    }
    .readMore {
        width: 400px;
        outline: 2px solid var(--CTA-color);
        background-color: transparent;
        font-size: 22px;
        text-align: center;
        transition: 400ms ease-in-out;
        margin: 0;
    }
    #courseCatalog {
        padding: 7em 1em;
    }
    .courseResume {
        min-height: 25em;
    }
    .courseCategories {
        gap: 3em;
    }
    .courseList {
        font-size: 20px;
    }
    .titleElements {
        text-align: center;
        font-size: 30px;
    }
    .titleElements i {
        font-size: 50px;
    }

    .allCourseList {
        max-width: 1100px;
        gap: 5em;
    }
    .courseWrapper {
        flex-direction: row;
    }
    .courseDetails, .courseTeachings {
        width: 50%;
    }
    .courseDetails {
        align-items: flex-start;
        text-align: left;
        padding: 6em 2em;
    }
    .bookBtn {
        max-width: 300px;
        align-self: center;
        font-size: 25px;
        margin-block: 1em !important;
    }
    .courseTitle {
        width: unset;
        font-size: 35px;
    }
    .courseDuration, .coursePrice {
        font-size: 25px;
    }
    .courseTeachings, .courseParticipants {
        font-size: 20px;
    }

    .loginForm input {
        font-size: 30px;
        margin-block: 0 .5em;
    }
    .loginForm label {
        font-size: 30px;
        margin-block: .5em 0;
    }
    .loginForm button[type="submit"] {
        width: fit-content;
        border: none;
        border-radius: 5px;
        padding: .2em 1em;
    }

    footer {
        justify-content: center;
        gap: 2em;
    }
    .footerAligned {
        align-items: center;
    }
    .logInBtn {
        width: 200px;
    }
}


/* --------------------- Laptop Version -----------------------*/ 
@media screen and (width >= 1200px) {
    header {
        height: var(--header-height-laptop);
        padding: 10px 4em 2px 4em;
    }
    #mobileMenuBtn {
        display: none;
    }
    #mainMenu {
        display: block;
    }
    .mainNavigation {
        width: auto;
        height: 100%;
        position: static;
        font-size: 20px;
        background-color: transparent;
        box-shadow: unset;
    }
    .navigationList {
        height: 100%;
        display: flex;
        gap: 1.5em;
    }
    .navigationList li {
        height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .navigationList li>a {
        width: 100%;
        height: auto;
        display: inline-block;
        font-size: 25px;
        transition: 250ms ease-in-out;
        border-bottom: 4px solid transparent;
        padding: 5px;
    }
    .navigationList li>a:hover, .navigationList li>a:focus {
        outline: none;
        border-bottom: 4px solid var(--CTA-color-alt);
    }
    .activeUnderline {
        border-bottom: 4px solid var(--CTA-color-alt) !important;
    }
    .moreSpace_block {
        margin-block: 1.2em;
    }
    .heroImage {
        margin-block: var(--header-height-laptop) 0;
    }
    #courseCatalog {
        padding: 7em 1em;
        margin: 0 0 6em 0;
    }
    .courseCategories {
        flex-direction: row;
        justify-content: center;
        margin-block: 6em 2em;
    }
    
    .formWrapper {
        width: 80%;
        flex-direction: row;
        justify-content: center;
        align-items: unset;
        gap: 6em;
    }
    .contactInfo {
        max-width: max-content;
        font-size: 25px;
        margin: 0;
    }
    .formWrapper form {
        text-align: left;
    }

    .courseTitle {
        font-size: 45px;
    }
    .courseDuration, .coursePrice {
        font-size: 35px;
    }
    .courseTeachings, .courseParticipants {
        font-size: 25px;
    }

    footer {
        gap: 6em;
    }
    .footerAligned img {
        width: 65px;
        height: 65px;
    }
}